<?xml version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="ftpUtil" class="com.kangyonggan.blog.web.util.FtpUtil">
        <property name="path" value="${blog.ftp.path}"></property>
        <property name="ip" value="${blog.ftp.ip}"></property>
        <property name="port" value="${blog.ftp.port}"></property>
        <property name="username" value="${blog.ftp.username}"></property>
        <property name="password" value="${blog.ftp.password}"></property>
    </bean>

</beans>
